/* 전체 채팅 화면 */
.chat-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding: 20px;
	background-color: #e6ebf5;
	overflow: hidden;
}

/* 채팅 메시지 리스트 */
.chat-messages {
	flex-grow: 1;
	overflow-y: auto;
	padding-right: 10px;
}

.message-group {
	display: flex;
	flex-direction: column;
}

.my-message {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.other-message {
	display: flex;
	flex-direction: column;
}

.message-timestamp {
	display: flex;
}

.timestamp {
	align-self: last baseline;
	font-size: 0.8rem;
	color: #666;
	padding-left: 8px;
}

.message-group-content {
	display: flex;
	flex-direction: column;
}

.message-group .message {
	width: fit-content;
	padding: 10px 15px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	margin: 5px 0;
}

.my-message .message {
	background-color: #f4fc03;
	align-self: flex-end;
	margin: 8px;
}

.other-message .message {
	justify-content: flex-start;
}

.my-message .message-content {
	text-align: right;
}

.nickname {
	font-size: 0.8rem;
}

/* 메시지 입력 필드 */
.chat-input {
	display: flex;
	padding: 10px;
	border-top: 1px solid #ccc;
	background-color: #fff;
}

.chat-input input {
	flex-grow: 1;
	padding: 8px;
	font-size: 1rem;
	border: 0px;
	margin-right: 8px;
}

.chat-input input:focus {
  outline: none;
}

.chat-input .button-inactive {
	padding: 10px 16px;
	font-size: 1rem;
	background-color: #e0e0e0;
	color: #b9b9b9;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.chat-input .button-active {
	padding: 10px 16px;
	font-size: 1rem;
	background-color: #f4fc03;;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.button-active:hover {
	background-color: #ffea00;
}