/* LandingPage.css */
.landing-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.landing-container h2 {
	margin-bottom: 20px;
}

.landing-container input {
	padding: 10px;
	margin-right: 10px;
	font-size: 1rem;
}

.landing-container button {
	padding: 10px 20px;
	font-size: 1rem;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.landing-container button:hover {
	background-color: #0056b3;
}

.toggle-link {
  margin-top: 15px;
  text-align: center;
}

.toggle-link p {
  font-size: 14px;
  color: #555; /* 기본 텍스트 색상 */
}

.toggle-link span {
  color: #007bff; /* 링크 색상 */
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.toggle-link span:hover {
  color: #0056b3; /* 호버 시 색상 */
}